################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SantanderAPI/bin/Debug/net8.0
/SantanderAPI/obj
